html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "M PLUS 1 Code", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5b5b5c;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #48b7e4;
  border-radius: 4px;
}

header {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
}
header a.logo {
  position: relative;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
  color: #5b5b5c;
}
header ul.navigation {
  position: relative;
  display: flex;
}
header ul.navigation a {
  display: inline-block;
  font-weight: 600;
  color: #5b5b5c;
  margin-left: 50px;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 50px;
}
header ul.navigation a.active,
header ul.navigation a:hover {
  background-color: #48b7e4;
  color: #ffffff;
}

@media (max-width: 1000px) {
  header ul.navigation {
    display: none;
  }

  header ul.navigation.active-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 10;
    flex-direction: column;
  }

  header div.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../../asset/icon/grid-sharp.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    z-index: 999;
  }

  header div.toggle.active-toggle {
    background: url(../../asset/icon/close-circle-sharp.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
main {
  position: absolute;
  display: flex;
  top: 100px;
  width: 100%;
  padding: 50px 100px;
  justify-content: space-between;
  align-items: center;
}
main div.kiri {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
}
main div.kiri h1 {
  font-size: 5em;
  font-weight: 900;
}
main div.kiri h2 {
  font-size: 3em;
  font-weight: 500;
}
main div.kiri p {
  font-size: 1em;
  font-weight: 400;
}
main div.kiri span {
  margin: 30px 0;
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #48b7e4;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main div.kiri span:hover {
  background-color: #0a698f;
}
main div.kanan {
  display: flex;
  width: 100%;
  height: 450px;
  background: url(../../asset/img/1.png);
  background-size: cover;
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
    margin: 0;
    justify-items: center;
  }
  main div.kiri {
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  main div.kiri h1 {
    font-size: 3em;
    font-weight: 900;
  }
  main div.kiri h2 {
    font-size: 2em;
    font-weight: 500;
  }
  main div.kiri p {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
  }
  main div.kanan {
    display: flex;
    width: 50%;
    height: 250px;
    background: url(../../asset/img/1.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 700px) {
  main div.kanan {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
